<!DOCTYPE HTML>
<html lang="kr">
<head>
	<meta charset="utf-8">
	<title>Simple IP Tracker</title>
</head>
<body>
<h1>Simple 1px IP Tracker.</h1>
<h1>Do not attack. Use it only for FUN!! XD</h1>
Git : <a href="https://github.com/whackur/simple-1px-ip-tracker">https://github.com/whackur/simple-1px-ip-tracker</a>
<br><br>
Let's hack!!<br><br>

IP Address will save : site/tracker_for_me<br>
IP list on : site/tracker_list_for_me<br>
<br><br>
copy tag bellow.
<br><br>
&lt;img src="site/tracker_for_me" /&gt;
</body>
</html>
